In [1]:
2+3

5

In [3]:
print("hi")

hi

PRINT statement

In [2]:
name="guneeth"
age =18
print("my name is {} and my age is {}".format(name,age))

my name is guneeth and my age is 18

if statement

In [8]:
age=int(input("enter your age"))
if age>=18 and age<=35 :
    print("you are young blood")

enter your age 35

you are young blood

if,elif,else statements

In [5]:
price=int(input("please enter price"))
if price>1000:
    print("product price is {} \n your discount is 10%".format(price))
elif price>500 and price<=1000:
     print("product price is {} \n your discount is 20%".format(price))
else:
    print("product price is {} \n your discount is 30%".format(price))

please enter price 700

product price is 700
 your discount is 20%

LOOP STATEMENTS
1)while
2)for
3)nested for
4)loop contorl

1)while loop

In [3]:
joining_age=25
while joining_age<=35 :
    print("age is {}\n".format(joining_age))
    joining_age=joining_age + 1
else :
    print("you are not allowed to apply for Job")

age is 25

age is 26

age is 27

age is 28

age is 29

age is 30

age is 31

age is 32

age is 33

age is 34

age is 35

you are not allowed to apply for Job

#for loop

In [8]:
list1=["banana",1,2,3,4,"mango"]
for x in list1:
   print(x)

banana
1
2
3
4
mango

In [9]:
for i in range(1,5):
 print(i)

1
2
3
4

nested forloop

In [14]:
n=7
for i in range(0,7):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

Loop controls

break

In [24]:
list1=["lion","tiger",1,2,3]
for i in list1:
    if i==2:
        print("number is 2")
        break
    print(i)

lion
tiger
1
number is 2

pass

In [25]:
list1=["lion","tiger",1,2,3]
for i in list1:
    if i==2:
        print("number is 2")
        pass
    print(i)

lion
tiger
1
number is 2
2
3

continue

In [26]:
list1=["lion","tiger",1,2,3]
for i in list1:
    if i==2:
        print("number is 2")
        continue
    print(i)

lion
tiger
1
number is 2
3